---
layout: default
permalink: /life/
category: life
---

{% if page.lang == "en" %}
  {% assign t = site.data.en %}
{% else %}
  {% assign t = site.data.fa %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col col-12">
            <h2 class="category-title">{{ t.life.title }}</h2>
            <hr class="page-divider">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% assign filtered_posts = site.posts | where: "categories", page.category %}

        {% if filtered_posts.size > 0 %}
            {% for post in filtered_posts %}
                {% include article-content.html %}
            {% endfor %}
        {% else %}
            <p>{{ t.life.empty }}</p>
        {% endif %}
    </div>
</div>

{% include pagination.html %}