.jekyll-cache
.jekyll-metadata
vendor
/.idea
*.gem
*.swp
.DS_Store
.analysis
.bundle/
.byebug_history
.ruby-gemset
.ruby-version
.sass-cache
/vendor
Gemfile.lock
_site
bin/
bbin/
coverage
gh-pages/
site/_site/
test/dest
tmp/*