.jekyll-cache
.jekyll-metadata
vendor
/.idea
*.gem
*.swp
.DS_Store
.analysis
.bundle/
.byebug_history
.ruby-gemset
# .ruby-version (needed for GitHub Actions)
.sass-cache
/vendor
# Gemfile.lock (needed for GitHub Actions)
_site
bin/
bbin/
coverage
gh-pages/
site/_site/
test/dest
tmp/*
/docs