{% if page.lang == "en" %}
  {% assign t = site.data.en %}
{% else %}
  {% assign t = site.data.fa %}
{% endif %}

{% assign without-image = nil %}
<!-- begin article -->
<div class="article" dir="{% if post.lang == 'en' %}ltr{% else %}rtl{% endif %}">
  <div class="container">
    <div class="article__wrapper">

      {% if post.image %}
        <a href="{{ post.url | prepend: site.baseurl }}" class="article__image" style="background-image: url({{ site.baseurl }}/assets/images/{{ post.image }})">
        </a>
      {% else %}
        {% assign without-image = 'article-without-image' %}
      {% endif %}

      <div class="article__content {{ without-image }}">
        <div class="article-tags">
          {% if post.categories.size >= 1 %}
            <div class="article-tags__box">
              {% for category in post.categories %}
                {% if post.lang == "en" %}
                  {% assign cat_label = site.data.en.nav[category] | default: category %}
                {% else %}
                  {% assign cat_label = site.data.fa.nav[category] | default: category %}
                {% endif %}
                <a href="{{ site.baseurl }}/{{ category | downcase | replace: " ", "-" }}" class="article__tag">{{ cat_label }}</a>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <h2 class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 185 }}{% endif %}</p>

        <div class="article__footer">
          <div class="article__meta">
            <span class="article__date">
              <time datetime="{{ post.date | date_to_xmlschema }}">
                {% if post.lang == "en" %}
                  {{ post.date | date: t.date_format }}
                {% elsif post.jalali_date %}
                  {{ post.jalali_date }}
                {% else %}
                  {{ post.date | date: "%Y/%m/%d" }}
                {% endif %}
              </time>
            </span>
          </div>
          <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">{{ t.shared.read_more }} <i class="ion ion-ios-arrow-forward"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end article -->