<!-- begin comments - Giscus -->
<div class="comments">
  <script src="https://giscus.app/client.js"
          data-repo="ehsanmnd/ehsanmnd.github.io"
          data-repo-id="R_kgDOMeUpFA"
          data-category="General"
          data-category-id="DIC_kwDOMeUpFM4DAGUS"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="fa"
          crossorigin="anonymous"
          async>
  </script>
</div>
<!-- end comments -->
