{% comment %}
  Single data-driven header. Selects locale data and URL prefix based on page.lang.
  Farsi (fa) is the default at root; English (en) lives under /en/.
{% endcomment %}
{% if page.lang == "en" %}
  {% assign t = site.data.en %}
  {% assign home_url = site.baseurl | append: '/en/' %}
  {% assign about_url = site.baseurl | append: '/en/about/' %}
  {% assign life_url = site.baseurl | append: '/en/life/' %}
  {% assign notebook_url = site.baseurl | append: '/en/notebook/' %}
  {% assign research_url = site.baseurl | append: '/en/research/' %}
{% else %}
  {% assign t = site.data.fa %}
  {% assign home_url = site.baseurl | append: '/' %}
  {% assign about_url = site.baseurl | append: '/about/' %}
  {% assign life_url = site.baseurl | append: '/life/' %}
  {% assign notebook_url = site.baseurl | append: '/notebook/' %}
  {% assign research_url = site.baseurl | append: '/research/' %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col col-12">
            <!-- begin header -->
            <header class="header">

                <div class="logo">
                    <a class="logo__link" href="{{ home_url }}">
                        {%if site.data.settings.logo %}
                        <img class="logo__image" src="{{ site.baseurl }}/assets/images/{{ site.data.settings.logo }}"
                             alt="{{ site.data.settings.author.name }}">
                        {% else %}
                        {{ site.data.settings.author.name }}
                        {% endif %}
                    </a>
                </div>

                <nav class="main-nav">

                    <div class="main-nav__box">
                        <div class="nav-icon__close">
                            <i class="ion ion-ios-close-circle-outline"></i>
                        </div>

                        <div class="nav__title">{{ t.nav.menu }}</div>

                        <ul class="nav__list list-reset">
                            <li class="nav__item">
                                <a href="{{ home_url }}" class="nav__link">{{ t.nav.home }}</a>
                            </li>
                            <li class="nav__item">
                                <a href="{{ about_url }}" class="nav__link">{{ t.nav.about }}</a>
                            </li>
                            <li class="nav__item">
                                <a href="{{ life_url }}" class="nav__link">{{ t.nav.life }}</a>
                            </li>
                            <li class="nav__item">
                                <a href="{{ notebook_url }}" class="nav__link">{{ t.nav.notebook }}</a>
                            </li>
                            <li class="nav__item">
                                <a href="{{ research_url }}" class="nav__link">{{ t.nav.research }}</a>
                            </li>
                        </ul>


                    </div>
                </nav>

                <div class="nav-buttons">
                    <i class="nav__icon nav__icon-menu ion ion-md-menu" aria-label="{{ t.nav.menu }}"></i>
                    <i class="nav__icon nav__icon-search ion ion-md-search" aria-label="{{ t.search.label }}"></i>
                    <div class="language-switcher">
                        {% include language-switcher.html %}
                    </div>
                </div>

                <div class="header__overlay"></div>
            </header>
            <!-- end header -->
        </div>
    </div>
</div>
