<div class="container">
    <div class="row">
        <div class="col col-12">
            <!-- begin header -->
            <header class="header">

                <div class="logo">
                    <a class="logo__link" href="{{site.baseurl}}/fa/">
                        {%if site.data.settings.logo %}
                        <img class="logo__image" src="{{ site.baseurl }}/assets/images/{{ site.data.settings.logo }}"
                             alt="{{ site.data.settings.title }}">
                        {% else %}
                        {{ site.data.settings.title }}
                        {% endif %}
                    </a>
                </div>

                <nav class="main-nav">

                    <div class="main-nav__box">
                        <div class="nav-icon__close">
                            <i class="ion ion-ios-close-circle-outline"></i>
                        </div>

                        <div class="nav__title">منو</div>

                        <ul class="nav__list list-reset">
                            <li class="nav__item">
                                <a href="{{ site.baseurl }}/fa/" class="nav__link">خانه</a>
                            </li>
                            <li class="nav__item">
                                <a href="{{ site.baseurl }}/about/fa" class="nav__link">درباره</a>
                            </li>
                            <li class="nav__item">
                                <a href="{{ site.baseurl }}/fa/life/" class="nav__link">زندگی</a>
                            </li>
                            <li class="nav__item">
                                <a href="{{ site.baseurl }}/fa/notebook/" class="nav__link">دفترچه</a>
                            </li>
                            <li class="nav__item">
                                <a href="{{ site.baseurl }}/fa/research/" class="nav__link">پژوهش</a>
                            </li>
                        </ul>


                    </div>
                </nav>

                <div class="nav-buttons">
                    <i class="nav__icon nav__icon-menu ion ion-md-menu" aria-label="Menu Icon"></i>
                    <i class="nav__icon nav__icon-search ion ion-md-search" aria-label="Search Icon"></i>
                    <div class="language-switcher">
                        {% include language-switcher.html %}
                    </div>
                </div>

                <div class="header__overlay"></div>
            </header>
            <!-- end header -->
        </div>
    </div>
</div> 