{%- comment -%}
  Average reading speed: 180 words per minute.
{%- endcomment -%}

{%- if page.lang == "en" -%}
  {%- assign t = site.data.en -%}
{%- else -%}
  {%- assign t = site.data.fa -%}
{%- endif -%}

{%- assign words_per_minute = site.words_per_minute | default: 180 -%}
{%- assign post_content = include.content -%}

{%- if post_content -%}
  {%- assign words = post_content | strip_html | number_of_words -%}
{%- endif -%}

{%- if words -%}
  {%- assign wpm = words_per_minute | times: 1.0 -%}
  {%- assign read_time = words | divided_by: wpm | round -%}
  {%- if read_time <= 1 -%}
    {%- assign reading_time = '1 ' | append: t.shared.minutes_read -%}
  {%- else -%}
    {%- assign reading_time = read_time | append: ' ' | append: t.shared.minutes_read -%}
  {%- endif -%}
{%- endif -%}