<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}" dir="{{ page.direction | default: 'ltr' }}">

{% include head.html %}

<body>

{% if site.data.settings.google-analytics %}
{% include google-analytics.html %}
{% endif %}

{% if page.lang == "fa" %}
{% include header-fa.html %}
{% else %}
{% include header.html %}
{% endif %}

<!-- begin content -->
{% assign baseurl_with_slash = site.baseurl | append: '/' %}
<main class="content {% if page.url == site.baseurl or page.url == baseurl_with_slash or page.url == '/fa/' %}home{% endif %}"
      aria-label="Content">
    {{ content }}
</main>
<!-- end content -->

<div class="top ion ion-ios-arrow-up" title="Top"></div>

{% include search.html %}

<div class="container">
    {% if page.comments %}
    {% if site.data.settings.disqus-identifier %}
    {% include disqus-comments.html %}
    {% endif %}
    {% endif %}
</div>

{% include footer.html %}

{% include javascripts.html %}
</body>

</html>