<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.data.settings.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  {% assign baseurl_with_slash = site.baseurl | append: '/' %}
  <main class="content {% if page.url == site.baseurl or page.url == baseurl_with_slash %}home{% endif %}" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  <div class="top ion ion-ios-arrow-up" title="Top"></div>

  {% include search.html %}

  {% include footer.html %}

  {% include javascripts.html %}
</body>

</html>